/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body{ background: #f1f1f1 !important;}


/* Overwriting WP Select Style*/
 .wp-admin select{
    padding: .375rem .75rem !important;
    line-height: 1.5 !important;
    height: calc(2.25rem + 2px) !important;
 }
 .card{
     padding:0 !important;
 }
/* Dual List Styles*/

.dual-listbox .dual-listbox__search{
    max-width: inherit !important;
    border-radius: .25rem;
}

 .dual-listbox .dual-listbox__title{ 
     font-size: inherit !important;
     text-align: center;
     background-color: #f8f9fa!important;
 }
 
 .dual-listbox .dual-listbox__buttons>button{
 	margin: 0.5em 0 !important;
 }

 .dual-listbox .dual-listbox__available, .dual-listbox .dual-listbox__selected{
 	background-color: #fff;
 } 
 